# Dependencies
node_modules/
package-lock.json

# Build
dist/
build/
.aws-sam/
coverage/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes

# AWS SAM
samconfig.toml
.aws-sam/

# TypeScript
*.tsbuildinfo

# Test coverage
coverage/
.nyc_output/

# Local DynamoDB
.dynamodb/
docker/ 